@import url('../font/fontawesome-free-6.1.1/css/all.min.css'); 
body{
    margin: 0;
    font-family: sans-serif !important;
    font-size: 17px;
}
input {
    font-size: 17px !important;
}
.scrollable::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: #cdd3d6;
    border-radius: 1px;
}
