html {
    scroll-behavior: smooth
}

html,
body {
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $colorText;
    height: 100%;
    margin: 0;
    font-size: 13px;
}

.content {
    padding: $spaceXL;
    background-color: $colorGray100;
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
    &.vertical {
        flex-direction: column;
        align-items: baseline;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.align-items-flex-end {
        align-items: flex-end;
    }
}

.small {
    font-size: 80%;
    color: $colorTextLight;
}

.no-wrap {
    white-space: nowrap;
}

.fit-content {
    width: fit-content;
}

a,
.clickable {
    cursor: pointer;
}

h3 {
    color: $colorSelection;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
}

.w-50 {
    max-width: 50%;
}

.orange {
    color: #e46c4e;
}

.yellow {
    color: $colorSelection;
}

.red {
    color: red !important;
}

.error-expand-background {
    .expand-panel-header {
        background-color: #ff3d71 !important;
        border-radius: 14px;
    }
}

.warning-expand-background {
    .expand-panel-header {
        background-color: #ffaa00;
        border-radius: 14px;
    }
}

.correct-expand-background {
    .expand-panel-header {
        background-color: $colorSelection;
        border-radius: 14px;
    }
}

.ignore-expand-background {
    .expand-panel-header {
        background-color: #aebecd;
        border-radius: 14px;
    }
}

.expandable-panel {
    padding: 0 !important;
    &.error-expand-background {
        .expandable-panel--header {
            background-color: #ff3d71 !important;
        }
    }
    &--header {
        padding: 20px;
    }
    &--header-border {
        border-bottom: 1px solid #e4e9f2;
        margin-bottom: 10px;
    }
    &--body {
        .table-wrapper {
            width: 100%;
        }
    }
}

.white {
    color: white !important;
}

.center {
    display: flex;
    justify-content: center;
}

.splitter-pane-resizer {
    width: 12px !important;
}

button {
    &.is-disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.form-label {
    color: #3366ff;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 0.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.popover-inner {
    padding: 12px 0!important;
    width: 100px;
    text-align: center;
}

.error-text {
    color: red;
    font-size: 12px;
}

.is-error {
    border: 2px solid red !important;
}

.pagination-row {
    margin-top: 2rem;
}

.page-item.active {
    .page-link {
        background-color: #3366ff !important;
        border-color: #3366ff !important;
        color: white !important;
    }
}

.page-link {
    color: #3366ff !important;
}

.pagination {
    border-radius: 14px !important;
    font-size: 13px;
}

.custom-select {
    background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' class='is-fill-blue'%3e%3cpath fill='%233366FF' d='M12 15.5a.997.997 0 01-.707-.293l-4-4a.999.999 0 111.414-1.414l3.305 3.305 3.293-3.18a1 1 0 011.39 1.439l-4 3.862A.997.997 0 0112 15.5' fill-rule='evenodd'%3e%3c/path%3e%3c/svg%3e") right .25rem center/24px 24px no-repeat;
    font-size: 13px;
}

.table-loader {
    margin: 0 !important;
    top: -25px !important;
}

 :-webkit-full-screen .orgchart-container {
    height: calc(100vh - 100px) !important;
}


/* IE11 syntax */

 :-ms-fullscreen .orgchart-container {
    height: calc(100vh - 100px) !important;
}


/* Standard syntax */

 :fullscreen .orgchart-container {
    height: calc(100vh - 190px) !important;
    max-width: 100vw !important;
}

@include list-loop('.mb-',
'margin-bottom',
'rem');
table th {
    position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
    position: sticky;
    top: 0;
    z-index: 10; // any positive value, layer order is global
}

.popover-wrapper-icon {
    cursor: pointer;
}