$colorPrimary100: #eff8ff;
$colorPrimary300: #a1d8ff7a;
$colorPrimary400: #63a2d8;
$colorPrimary500: #3183c8;
$colorPrimary600: #2368a2;
$colorPrimary700: #1a4971;
$colorPrimary900: #203d54;
$colorGray100: #f8f9fa;
$colorGray200: #e1e7ec;
$colorGray300: #d5dde5;
$colorGray400: #ccd4db;
$colorGray500: #aebecd;
$colorGray600: #929fb1;
$colorGray700: #6e7a8a;
$colorGray800: #404b5a;
$colorGray900: #212934;
$colorMainBlue: #3366ff;
$colorSelection: #00e096;
$colorHover: #ffe74c;
$colorText: $colorGray800;
$colorTextLight: $colorGray600;
$redBg: #ff3d71;
$orangeBg: #ffaa00;