.content-panel {
    box-sizing: border-box;
    border: 2px solid #a1d8ff7a;
    border-radius: 14px;
    background-color: #FFFFFF;
    .is-align-middle {
        justify-content: center;
        align-items: center;
    }
    .content-row {
        margin-bottom: 15px;
    }
    .content-body {
        padding: 0px;
    }
    &.has-header {
        padding: 0;
        .content-header {
            border-bottom: 1px solid #E4E9F2;
            margin-bottom: 10px;
            .content-header-content {
                padding: 10px 20px 0px 10px;
            }
        }
    }
    .content-header {
        color: $colorMainBlue;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        background-color: $colorPrimary300;
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
        padding: 20px 0 0 20px;
        height: 48px;
        &.has-arrow-up::after {
            content: '\2525 ';
            position: relative;
            float: right;
            right: 0;
            color: #222B45;
            cursor: pointer;
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
            line-height: 24px;
        }
    }
    .pull-right {
        float: right;
    }
    .pull-left {
        float: left;
    }
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex: auto;
    .form-entry:first-child {
        margin-right: 20px;
    }
}

.mt0 {
    margin-top: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.mtS {
    margin-top: $spaceS !important;
}

.ptS {
    padding-top: $spaceS !important;
}

.pbL {
    padding-bottom: $spaceL !important;
}

.mtM {
    margin-top: $spaceM !important;
}

.mtL {
    margin-top: $spaceL !important;
}

.mtXL {
    margin-top: $spaceXL !important;
}

.mtXXL {
    margin-top: $spaceXXL !important;
}

.mlM {
    margin-left: $spaceM !important;
}

.mbS {
    margin-bottom: $spaceS !important;
}

.mbM {
    margin-bottom: $spaceM !important;
}

.mbL {
    margin-bottom: $spaceL !important;
}

.mbXL {
    margin-bottom: $spaceXL !important;
}

.mbXXL {
    margin-bottom: $spaceXXL !important;
}